@font-face {
	font-family: salsa-regular;
	src: url(/fonts/Salsa-Regular.ttf);
}

@font-face {
	font-family: overlocksc-regular;
	src: url(/fonts/OverlockSC-Regular.ttf);
}

body {
	background-image: url(/images/bg1-sm.jpeg);
	background-size: cover;
	background-color: #fff;
	background-position: right top;
	background-attachment: fixed;
	font-family: salsa-regular;
}

.heading {
	margin: 50px 0;
	font-family: overlocksc-regular;
}

.body {
	margin: 50px 0;
}

.body p {
	font-size: 130%;	
}

.content {
	margin: 50px 0 50px 0;
	padding: 30px;
}

.side-panel {
	margin: 50px 0 0 0;
}

.side-panel2 {
	margin: 50px 0 0 0;
}
