.heading {
	margin: 50px 0;
}

.body p {
	margin: 30px 0;
	font-size: 130%;
}

.content {
	margin: 50px 0 0 0;
	background-color: #FFDDF9;
	padding: 30px;
	border-radius: 10px;
}

.side-panel {
	margin: 50px 0 0 0;
}
