body {
	background-image: url(/images/bg1-sm.jpeg);
	background-size: cover;
	background-color: #fff;
	background-position: right top;
	background-attachment: fixed;
}

.heading {
	margin: 50px 0;
}

.body {
	margin: 50px 0;
}

.body p {
	margin: 30px 0;
	font-size: 130%;
	
}

.content {
	margin: 50px 0 0 0;
	padding: 30px;
}

.side-panel {
	margin: 50px 0 0 0;
}

.side-panel2 {
	margin: 50px 0 0 0;
}
